@media (min-width: $desktopScreen) {

    .row {
        > article {
            h2 {
                font-size: 30px;
                font-weight: 600;
            }

            p {
                font-size: 18px;
            }
        }
    }

    /* SERVICES */
    .services {
        > section {
            justify-content: center;
            column-gap: 2vw;
        }

        aside {
            position: relative;
            width: 20vw;
            > p {
                opacity: 0;
                font-size: 16px;
            }

            > h4 {
                opacity: 0;
            }

            i {
                display: block;
                position: absolute;
                opacity: 1;
                font-size: 40px;
            }
        }

        aside:hover {
            > p,
            > h4 {
                opacity: 1;
                transition: .6s;
            }

            i {
                opacity: 0;
                transition: .6s;
            }
        }
    }

    /* TEAM GALLERY */
    .team-gallery {

        figure:hover figcaption{
            bottom: 0%;
            height: 100%;
        } 

        figcaption {
            bottom: -20%;
        }
    }

    /* SKILLS */
    .skills {
        li {
            height: 5vh;
        }

        > article > p {
            width: 100%;
        }
    }

    /* CONTACT */
    .contact {

        p {
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    input {
        height: 5vh;
    }

    [type="submit"] {
        font-size: 20px;
    }
}