@media (min-width: 200px) {
    main {
        padding-top: 5vh;
        row-gap: 10vh;
    }

    img {
        width: 30%;
    }

    .row {
        align-items: center;
        row-gap: 5vh;

        > article {
            @include flexColumn(2vh);
            @include flexCenter;

            > p {
                text-align: center;
            }
        }

        > section {
            @include flexColumn(3vh);
            align-items: center;
        }
    }

    /* SERVICES */
    .services {

        > section {

            > aside:nth-child(1) {
                background-color: $seaGreen;
            }

            > aside:nth-child(2) {
                background-color: $orange;
            }

            > aside:nth-child(3) {
                background-color: $blue;
            }

            > aside:nth-child(4) {
                background-color: $green;
            }
        }

        aside {
            color: whitesmoke;
            min-height: 45vh;
            width: 90%;
            @include flexColumn(2vh);
            @include flexCenter;

            p {
                color: whitesmoke;
                width: 80%;
                text-align: center;
                font-size: 18px;
            }
        }

        h4 {
            border-bottom: 1px solid whitesmoke;
            padding-bottom: 1vh;
            font-size: 24px;
        }

        i {
            display: none;
        }
    }

    /* PORTFOLIO */
    .portfolio {
        > section {
            width: 95%;
        }

        figcaption {
            display: none;
        }

        img {
            width: 100%;
            height: 45vh;
        }
    }
}